{% extends "layout.html" %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}

<!DOCTYPE html>
<html>
<head>
  <body>
  <img src="{{url_for('static', filename=path)}}" width="400" height="400" alt="X ray">

          <!-- {{ predictions }} -->
          <style>

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

</style>
</head>
<body>

<h2>Results</h2>

<table style="width:100%">

  <tr>
    <th>Disease</th>
    <th>Probability</th> 
  </tr>
  {% for key, value in results.items() %}
  <tr>
    <td>{{ key }}</td>
    <td>{{ value }}</td> 
  </tr>
  {% endfor %}
</table>

{% endblock %}
